/* 全局样式 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s; /* 平滑过渡 */
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* 防止水平滚动条 */
  
  
}

/* 白天主题 */
.day-theme {
  background-color: #ffffff; /* 白色背景 */
  color: #000000; /* 黑色字体 */
  --popup-bg: #ffffff; /* 白色背景 */
  --popup-text: #000000; /* 黑色字体 */
}

/* 夜晚主题 */
.night-theme {
  background-color: #000000; /* 黑色背景 */
  color: #ffffff; /* 白色字体 */
  --popup-bg: #000000; /* 黑色背景 */
  --popup-text: #ffffff; /* 白色字体 */
}


/* 白天链接样式 */
.day-theme a {
  color: rgb(0, 0, 0);
}

/* 夜晚链接样式 */
.night-theme a {
  color: rgb(255, 255, 255);
}


main {
  flex: 1; /* 让 main 区域自动填满剩余高度 */
  padding: 1rem; /* 主内容的内边距 */
  margin-top: 1rem; /* 导航栏与内容的距离，确保间距适中 */
  background-color: inherit; /* 继承背景颜色 */
  color: inherit; /* 继承文字颜色 */
}


